/*
 * Application specific CSS
 * Make sure to never override default Bootstrap!
 */ 
 .block {
 	display:block !important;
 }
.greenBorder {
	border: 1px solid medium;
}
.no-underline { 
 	text-decoration: none !important;
 }
.inline {
	display: inline !important;
}
.display-none {
	display: none !important;
} 
.black-with-white-shadow {
  color: #000 !important;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.white-with-black-shadow {
  color: #fff !important;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.transparent-80 {
    opacity: 0.80 !important;
    filter: alpha(opacity=80) !important; /* For IE8 and earlier */
}
.btn-primary-no-transparency {
	color: #fff !important;
	background-color: #428bca !important;
	border-color: #357ebd !important;
	opacity: 1.0 !important;
	filter: alpha(opacity=100) !important; /*For IE8 and earlier */
}
 .squeeze {
	padding: 0px !important;
	margin: 0px !important;
 }
 .bump {
 	padding-left: 5px;
 }
 .lp5 { /* left padding */
 	padding-left: 5px;
 }
 .rp5 { /* right padding */
 	padding-right: 5px;
 }
 .nav li a {
 	padding-left: 5px;
 	padding-right: 5px;
 }
#marginContainer {
	margin-top: 42.9px;
}
.no-padding {
	padding: 0px;
}
.widthOneHundred {
	width: 100%;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mtn5 {
	margin-top: -5px !important;
}
.mr10 {
	margin-right: 10px;
}
